<!-- src/app/submit-icon/submit-icon.component.html -->
<div class="submit-wrapper">
  <button
    mat-raised-button
    class="submit-btn"
    [ngClass]="state"
    (click)="onClick()"
    [disabled]="state !== 'idle'">
    <mat-icon *ngIf="state === 'idle'">send</mat-icon>
    <mat-progress-spinner
      *ngIf="state === 'loading'"
      diameter="20"
      mode="indeterminate">
    </mat-progress-spinner>
    <mat-icon *ngIf="state === 'done'" color="primary">check_circle</mat-icon>
    <span *ngIf="state === 'idle'">Submit</span>
    <span *ngIf="state === 'done'" class="error-text">
      Oops! Something went wrong.
    </span>
  </button>

  <div *ngIf="state === 'loading'" class="ribbons-container">
  <div
    *ngFor="let r of ribbons"
    class="ribbon"
    [ngStyle]="{
      '--dx': r.dx + 'px',
      '--r': r.r + 'deg',
      'animation-delay': r.delay + 's',
      'background': r.color
    }"
  ></div>
  </div>
</div>
