/* About the Font */
html {
    font-size: 20px;
    font-family: "Sedan", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* About the page */
html {
    background-color: #fefbf6 ;
    text-align: justify;
}

a:link {
    color: #8CB9BD;
}

a:visited {
    color: cornflowerblue;
}

a:hover {
    text-decoration: none;
}

/* The header */
header {
    margin: 50px 50px 50px 50px;
    padding: 10px;
}

header #head {
    text-align: left;
    font-size: 40px;
    color: #B67352;
}

/* The navigation bar */
nav {
    margin: 50px 50px 50px 50px;
    padding: 10px;
    border: 2px solid #B67352;
    background-color: blanchedalmond;
}

nav #menu {
    text-align: left;
    font-size: 30px;
    color: #B67352;
}

nav .searchBar {
    float: right;
}

nav .selection {
    text-align: justify;
    text-align-last: justify;
}

nav button {
    margin: 10px 10px 10px 10px;
    border: 1px solid #ECB159;
    background-color: beige;
}

nav button:hover {
    background-color: aliceblue;
}

/* The body page */
body {
    margin: 50px 50px 50px 50px;
    padding: 10px;
}

body h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #B67352;
    text-shadow: 2px 2px 1px #00171f;
}

body h2 {
    font-size: 30px;
    text-align: left;
    margin: 0;
    color: #ECB159;
    text-shadow: 1px 1px 1px #B67352;
}

body h3 {
    font-size: 20px;
    text-align: left;
}

body p,
body li {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
}

/* The footer */
footer {
    margin: 50px 50px 50px 50px;
    padding: 10px;
    border-top: 5px solid #ECB159;
}

footer h3 {
    text-align: center;
}